#Page{
    overflow: auto;
    flex-flow: row wrap;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: #c5d1d4;
}

/* ------------ Cabeçalho ------------- */
#Marco-Zero{
    position: absolute;
    height: 380;
    width: 100%;
    border-bottom: 10px solid transparent;
    border-color: #96a1a3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#Container-foto-perfil{
    text-align: center;
    width: 100%;
    display: block;
    top: 100;
}

#Foto-Perfil{
    position: relative;
    top: 270;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-color: #96a1a3;
}

/* --------------MÍDIA SOCIAL--------------- */

#corpo{
    position: relative;
    padding-top: 300;
}

.Container-social-media{
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.space-around{
    justify-content: space-evenly;
}

.icon-social-media{
    height: 60;
    width: 60;
}

/* ------------------ ABOUT ----------------- */

#about-container{
    padding-top: 10;
    width: 100%;
    display: flex;
    justify-content: center;
}

#about--block{
    padding-left: 10;
    padding-right: 10;
    width: 60%;
}

#about-text{
    text-align: center;
    color: #26535c;
}

/* -------------- Profissoes -------------- */

#container--geral-profissoes{
    padding-top: 50;
    margin-left: 7%;
    margin-right: 7%;
    
    /*background-color: red;*/
}

.proff{
    justify-content: stretch;
    display: flex;
    width: 100%;
    min-height: 200;
}

.three{
    
    background-color: blue;
}

.box-text-proff{
    display: flex;
    width: 65%;
}

.text-proff-one{
    align-items: center;
    width: 65%;
    padding-right: 5%;
}

.text-proff-direction-to-left{
    margin-left: 10%;
    color: #26535c;
    direction: rtl;
}

.box-image-proff{
    align-items: center;
}

.image-prof-one{
    width: 35%;
    display: flex;
    margin-left: 5%;
}

.proff-img{
    width: 115;
    height: 115;
    border-radius: 50%;
    border: 6px solid transparent;
    border-color: #96a1a3;
}


.text-proff-two{
    align-items: center;
    padding-left: 5%;
    width: 65%;
}

.text-proff-direction-to-right{
    margin-right: 10%;
    color: #26535c;
}

.image-prof-two{
    width: 35%;
    display: flex;
    direction: rtl;
    margin-right: 5%;
}

/*#teste{
    background-color: red;
    width: 100%;
    height: 50;
}*/
